{% extends 'actividades/base.html' %} 
{% block title %}Registrar Resultado{% endblock %}

    {% block content %}
        <h2>Registrar Resultado de {{ actividad.nombre }}</h2>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for facultad in facultades %}
                <li>
                    {{ facultad.nombre }}:
                    <input type="number" name="resultados"
                        placeholder="Puntos,Posición" required>
                </li>
                {% endfor %}
            </ul>
            <button type="submit">Registrar Resultado</button>
        </form>
    {% endblock %}
