{% extends 'actividades/base.html' %} 
{% block title %}Registrar Asistencia{% endblock %}

    {% block content %}
        <h2>Registrar Asistencia en {{ actividad.nombre }}</h2>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for usuario in usuarios %}
                <li>
                    <input type="checkbox" name="asistencia"
                        value="{{ usuario.id }}">
                    {{ usuario.nombre }}
                </li>
                {% endfor %}
            </ul>
            <button type="submit">Registrar Asistencia</button>
        </form>
    {% endblock %}